<div>
  <nav>
    <div class="row">
      <div class="col-sm-4" style="padding: 0;"><button id="step1" routerLink="/Step1" style="width: calc(100% - 4px); margin-right: -2px;">Step 1</button></div>
      <div class="col-sm-4" style="padding: 0;"><button style="width: calc(100% - 4px); margin-right: -2px;">Step 2</button></div>
      <div class="col-sm-4" style="padding: 0;"><button style="width: calc(100% - 4px); margin-right: -2px;">Step 3</button></div>
    </div>
    </nav>
    <router-outlet></router-outlet>
    
</div>